.btn {
    font-size: 1.5em;
    border: none;
    width: 150px;
    height: 60px;
    text-align:center;
    text-decoration:none;
    color: white;
    background: darkgreen;
    margin: auto;
    margin-top: 20px;
    margin-left: 10px;
}

.btn:active{
    border: none;
    position: relative;
    top:3px;
    background: cornflowerblue;
}